<section ng-controller="CreateCustomerController">
	<acad-sidebar></acad-sidebar>

	<acad-content>
		<acad-topbar></acad-topbar>
		<acad-titlebar title="'Cadastrar aluno'"></acad-titlebar>

		<div class="content">

			<acad-box-item title="'Detalhes do novo aluno'">
				<acad-input-text label="'Nome'"></acad-input-text>
				<acad-input-text label="'Sobrenome'"></acad-input-text>
				<acad-input-text label="'E-mail'"></acad-input-text>
				<acad-input-password label="'Senha'"></acad-input-password>
				<acad-input-password label="'Repita a senha'"></acad-input-password>
			</acad-box-item>

		</div>
	</acad-content>
</section>