# Global Dependencies (server|client)
**/node_modules/
**/bower_components/
**/vendor/

# Compiled outputs
**/dist/

# Cache files (server|client)
**/.tscache/
./client/.sass-cache/

# TypeScript specific files
**/.baseDir.ts
**/.baseDir.js

# OS Files
.DS_Store
Thumbs.db

# Debug files
**/npm-debug.log
