# Global Dependencies (server|client)
**/node_modules/
**/bower_components/
**/vendor/

# Compiled outputs
**/dist/
**/build/

# Cache files (server|client)
**/.tscache/
**/.sass-cache/

# TypeScript specific files
**/.baseDir.ts
**/.baseDir.js

# OS Files
**/.DS_Store
Thumbs.db

# Debug files
**/npm-debug.log
**/apache-logs/

# JetBrains IDE
**/.idea/

# Propel files
**/generated-sql/
