{
    "propel": {
        "paths": {
            "schemaDir": "\/Users\/stanleysathler\/Workfolder\/academia-digital\/backend\/config",
            "phpDir": "\/Users\/stanleysathler\/Workfolder\/academia-digital\/backend\/src\/Model"
        }
    }
}