<section ng-controller="CustomersController">
	<acad-content>
		<acad-topbar></acad-topbar>
		<acad-titlebar title="'Alunos'"></acad-titlebar>

		<div class="content">

			<acad-crud-box-item 
				title="'Alunos registrados'"
				columns="this.columns"
				data="this.customers"
				no-data-text="'Nenhum aluno cadastrado até o momento'"
				add-method="this.addCustomer()"
				add-label="'adicionar'"
				edit-method="this.editCustomer(row)"
				edit-label="'editar'"
				delete-method="this.deleteCustomer(row)"
				delete-label="'excluir'">
			</acad-crud-box-item>

		</div>
	</acad-content>
</section>