<section ng-controller="CustomersListController">
    <acad-content>
        <acad-topbar></acad-topbar>
        <acad-titlebar title="'Fichas'"></acad-titlebar>

        <div class="content">
            <acad-box-item title="'Alunos cadastrados'">
                <acad-table
                    columns="columns"
                    data="customers"
                    select-item-method="onSelectItem">
                </acad-table>
            </acad-box-item>
        </div>
    </acad-content>
</section>