/**
 * Component colors
 */
$ad-page-content-bg-color: $primary-background-color

/**
 * Element styles
 */
div.ad-page-content

	background-color: $ad-page-content-bg-color
	margin: 0 0 0 230px
	min-height: 600px // needs to be calculated via JS after
	position: relative

	.content
		padding: 15px