
<acad-box-item
	title="title"
	title-button="{ type: 'success', text: '+', click: this.addMethod }">

	<table>

		<thead>
			<tr>
				<th ng-repeat="column in this.columns" ng-bind="column.text"></th>
				<th>Ações</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="this.data.length < 1">
				<td colspan="{{ this.columns.length }}" ng-bind="this.noDataText"></td>
			</tr>

			<tr ng-repeat="item in this.data">
				<td 
					ng-repeat="column in this.columns"
					ng-bind="item[column.value]">
				</td>
				<td class="actions">
					<a class="edit" ng-click="this.editMethod({row: item})"><i class="fa fa-pencil"></i></a>
					<a class="delete" ng-click="this.deleteMethod({row: item})"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>

</acad-box-item>