acad-crud-box-item
	
	table
		border: 1px solid #e7e7e7
		width: 100%

	thead
		background-color: #f5f5f6
		text-align: left
		font-weight: 700

	tr
		border-bottom: 1px solid #e7eaec

	tr:last-child:not(:nth-child(1))
		border-bottom: none

	th, 
	td
		border: 1px solid #e7e7e7

	th
		padding: 13px 8px

	td
		padding: 8px 8px
		vertical-align: middle

	a
		+border-radius(3px)
		display: inline-block
		color: white
		font-size: 16px
		height: 30px
		line-height: 30px
		text-align: center
		width: 30px

		&.edit
			background-color: $neutral-color

		&.delete
			background-color: $negative-color