acad-crud-box-item
	
	table
		width: 100%

	thead
		text-align: left
		font-weight: 700

	tr
		border-bottom: 1px solid #e7eaec

	tr:last-child:not(:nth-child(1))
		border-bottom: none

	th, 
	td
		padding: 13px 8px