<div class="acad-table" ng-controller="AcadTableController">
	<table>

		<thead>
			<tr>
				<th ng-repeat="column in this.columns" ng-bind="column.text"></th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="isThereNoData(data)">
				<td colspan="{{ this.columns.length }}" ng-bind="this.noDataText"></td>
			</tr>

			<tr ng-repeat="item in this.data" ng-click="selectItemMethod(item)">
				<td ng-repeat="column in this.columns"
					ng-bind="this.getColumnValue(item, column)">
				</td>
			</tr>
		</tbody>
	</table>
</div>